@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #e3edfd;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313c4d;
  background-image: linear-gradient(#0c2447 0%, #042e6d 90%, #001b42 100% );
  color: white;
  min-height: 2em;
  width: fit-content;
  min-width: 5em;
  border-radius: 15px;
  padding: .5em 1.5em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45), 0 3px 6px 0 rgba(0, 0, 0, 0.45);
  margin: 0 2em;
}

.button:hover {
  background-image: linear-gradient(#186ab6 0%, #618ed1 90%, #1857b6 100% );
  cursor: pointer;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 1.5em;
  cursor: pointer;
  justify-self: center;
}

.icon-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

table,
td,
th {
  border-collapse: collapse;
}
table {
  margin: 1em auto;
  table-layout: auto;
  border-radius: 15px;
  width: 80%;
  max-width: 900px;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}


tr{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

tr:nth-child(odd) {
  background-color: rgb(238, 241, 255);
}

tr:nth-child(even) {
  background-color: #e0e7ff;
}

tr:hover {
  background-color: #ced9fd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

tr:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
tr:first-child > th:first-child {
  border-top-left-radius: 15px;
}
tr:first-child > th:last-child {
  border-top-right-radius: 15px;
}

tr:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
tr:last-child > td:last-child {
  border-bottom-right-radius: 15px;
}
tr:last-child > td:first-child {
  border-bottom-left-radius: 15px;
}

a, a:active, a:focus, a:hover {
  text-decoration: none;
  color: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313c4d;
  color: #FFFFFF;
}

nav > a {
  text-decoration: none;
  list-style: none;
  padding: 0.5em 2.5em;
  color: white;
}

nav > a:hover {
  background-color: #50617c;
  cursor: pointer;
}

a, a:active {
  color: inherit;
}

form {
  width: fit-content;
  text-align: left;
  margin: auto;
}

.helptext {
  display: block;
  font-size: 0.8em;
  padding-bottom: 1em;
}

label {
  padding-right: 1em;
}

input[type=text],input[type=password],input[type=email],input[type=tel],input[type=url],input[type=number],input[type=search] {
  min-height: 1.5em;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px;
  border: 0;
  border: 1px solid rgb(155, 155, 155);
  box-shadow:0 0 5px 4px rgba(0,0,0,0.06);
}

input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #114694;
  background-image: linear-gradient(#0c2447 0%, #042e6d 90%, #001b42 100% );
  color: white;
  min-height: 2em;
  width: fit-content;
  min-width: 5em;
  border-radius: 15px;
  padding: .5em 1.5em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45), 0 3px 6px 0 rgba(0, 0, 0, 0.45);
  margin: 0 2em;
}

input[type=submit]:hover {
  background-image: linear-gradient(#186ab6 0%, #618ed1 90%, #1857b6 100% );
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid rgb(29, 34, 99);
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}

input[type=submit] {
  margin: auto;
  width: 80%;
}

.signup > ul {
  visibility: visible;
}

form {
  padding: 1em 2em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.red-text {
  color: #e70000;
}

.wide {
  width: 80%;
  max-width: 500px;
  margin: 35px auto;
}