{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <title>Today's Foods</title>
    </head>
    <body>
        <div>
            <h1>Calorie Counter</h1>
            <h3 id='date'></h3>
            <script defer>
                document.querySelector('#date').textContent = `${new Date().getMonth() + 1}/${new Date().getDate()}/${new Date().getFullYear()}`
            </script>
            <div class="flex-container">
              <table>
                <tr>
                  <th>Food Name</th>
                  <th>Calorie Amount</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                <tr>
                  <td>Chicken</td>
                  <td>350</td>
                  <td></td>
                  <td>x</td>
                </tr>
                <tr>
                  <td>Fries</td>
                  <td>190</td>
                  <td></td>
                  <td>x</td>
                </tr>
                <tr>
                  <td>Salad</td>
                  <td>150</td>
                  <td></td>
                  <td>x</td>
                </tr>
                <tr>
                  <td>Doughnut</td>
                  <td>200</td>
                  <td></td>
                  <td>x</td>
                </tr>
              </table>
            </div>
            <div class="flex-container">
              <a href="/"><div class="button">Back</div></a>
            </div>
        </div>
    </body>
</html>