{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <title>Today's Foods</title>
    </head>
    <body>
        <div>
            <h1>Calorie Counter</h1>
            <h3 id='date'></h3>
            <script defer>
                document.querySelector('#date').textContent = `${new Date().getMonth() + 1}/${new Date().getDate()}/${new Date().getFullYear()}`
            </script>
            <table>
              <tr>
                <th>Food Name</th>
                <th>Calorie Amount</th>
              </tr>
              <tr>
                <td>Burger</td>
                <td>780</td>
              </tr>
              <tr>
                <td>Fries</td>
                <td>190</td>
              </tr>
              <tr>
                <td>Salad</td>
                <td>150</td>
              </tr>
              <tr>
                <td>Doughnut</td>
                <td>200</td>
              </tr>
            </table>
            <div class="flex-container">
              <div class="button">Back</div>
            </div>
        </div>
    </body>
</html>